# https://www.toptal.com/developers/gitignore can generate .gitignore for many filetypes

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.toc
*.vs
*.vs/slnx.sqlite
*.json
*.vsidx
/C3/DeloneTypesCorrespondence.xls
*.wsuo
*.ps
/ProgramSummary/DeloneTypesGrid_3-eps-converted-to.pdf
/MeasuringLattices_uv5016/~WRL1126.tmp
/C3/5_21-eps-converted-to.pdf
/C3/4_13-eps-converted-to.pdf
/C3/3_03-eps-converted-to.pdf
/C3/2_06-eps-converted-to.pdf
/C3/1_35-eps-converted-to.pdf
/WEB_LRL/GradientWidthLin.svg
/WEB_LRL/HorizontalDeloneGrid_INK.svg
/WEB_LRL/HorizontalDeloneGrid_TEST.svg
/WEB_LRL/textUse.svg
